USE [master]
GO
CREATE DATABASE [MasterFloor]
GO
USE [MasterFloor]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCity] [nvarchar](150) NOT NULL,
	[RegionId] [int] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[BankCard] [nvarchar](16) NOT NULL,
	[PositionId] [int] NOT NULL,
	[StatusFamilyId] [int] NULL,
	[StatusHealthId] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IndexAddressId] [int] NOT NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HouseStreet](
	[Id] [int] NOT NULL,
	[HouseId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
 CONSTRAINT [PK_HouseStreet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexAddress](
	[Id] [int] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IndexAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialProduct](
	[MatProdId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_MaterialProduct_1] PRIMARY KEY CLUSTERED 
(
	[MatProdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MaterialTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DefectPercent] [float] NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureUnitProduction](
	[ProdMeasUnitId] [int] NOT NULL,
	[ProdTypeId] [int] NOT NULL,
	[MeasureUnitId] [int] NOT NULL,
 CONSTRAINT [PK_MeasureUnitProduction] PRIMARY KEY CLUSTERED 
(
	[ProdMeasUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureUnits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameMeasure] [nvarchar](50) NOT NULL,
	[ShortNameMeasure] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_MeasureUnits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[INN] [nvarchar](10) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Raiting] [int] NOT NULL,
	[DirectorId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
	[DiscountId] [int] NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PartnerType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[NumPasport] [nvarchar](6) NULL,
	[SeriePasport] [nvarchar](4) NULL,
 CONSTRAINT [PK_Persona] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameJob] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Article] [nvarchar](7) NOT NULL,
	[MinCostForPartner] [money] NOT NULL,
	[ProductTypeId] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProductionIndex] [float] NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealizationHistory](
	[Id] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[ProductId] [int] NOT NULL,
	[PartnerId] [int] NOT NULL,
	[StatusPayId] [int] NOT NULL,
 CONSTRAINT [PK_RealizationHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRegion] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusFamily](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_StatusFamily] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusHealth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_StatusHealth] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusPay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusPay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameStreet] [nvarchar](50) NOT NULL,
	[House] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StreetCity](
	[Id] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_StreetCity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[SupplierTypeId] [int] NOT NULL,
	[INN] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameSupplier] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SupplierType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[DateSupply] [datetime] NOT NULL,
	[Count] [int] NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_Supply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [NameCity], [RegionId]) VALUES (1, N'Yurga', 1)
INSERT [dbo].[City] ([Id], [NameCity], [RegionId]) VALUES (2, N'Severodvinsk', 2)
INSERT [dbo].[City] ([Id], [NameCity], [RegionId]) VALUES (3, N'Primorsk', 3)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([Id], [Size]) VALUES (1, 1)
INSERT [dbo].[Discount] ([Id], [Size]) VALUES (2, 2)
INSERT [dbo].[Discount] ([Id], [Size]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [PersonId], [BankCard], [PositionId], [StatusFamilyId], [StatusHealthId]) VALUES (1, 1, N'1234567891123412', 1, 1, 1)
INSERT [dbo].[Employee] ([Id], [PersonId], [BankCard], [PositionId], [StatusFamilyId], [StatusHealthId]) VALUES (2, 2, N'1234123412341234', 2, 2, 2)
INSERT [dbo].[Employee] ([Id], [PersonId], [BankCard], [PositionId], [StatusFamilyId], [StatusHealthId]) VALUES (3, 3, N'4321432143214321', 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[IndexAddress] ([Id], [Number]) VALUES (1, N'350032')
INSERT [dbo].[IndexAddress] ([Id], [Number]) VALUES (2, N'249392')
INSERT [dbo].[IndexAddress] ([Id], [Number]) VALUES (3, N'627887')
GO
SET IDENTITY_INSERT [dbo].[MaterialProduct] ON 

INSERT [dbo].[MaterialProduct] ([MatProdId], [MaterialId], [ProductId]) VALUES (1, 1, 1)
INSERT [dbo].[MaterialProduct] ([MatProdId], [MaterialId], [ProductId]) VALUES (2, 2, 2)
INSERT [dbo].[MaterialProduct] ([MatProdId], [MaterialId], [ProductId]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[MaterialProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Id], [Name], [Description], [MaterialTypeId]) VALUES (1, N'High-density paper with protective melamine resin impregnation', N'The protection is resistant to humidity and temperature fluctuations, and also protects the material from mold and mildew', 1)
INSERT [dbo].[Materials] ([Id], [Name], [Description], [MaterialTypeId]) VALUES (2, N'Oak', N'After lacquer treatment, it acquires a rich yellow color, darkens over time and acquires a noble shade. One of the hardest and most wear-resistant materials, but has poor resistance to impact loads', 2)
INSERT [dbo].[Materials] ([Id], [Name], [Description], [MaterialTypeId]) VALUES (3, N'Spruce', N'The protection is resistant to humidity and temperature fluctuations, and also protects the material from mold and mildew', 3)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name], [DefectPercent]) VALUES (1, N'Paper', 0.1)
INSERT [dbo].[MaterialType] ([Id], [Name], [DefectPercent]) VALUES (2, N'Hardwood', 0.95)
INSERT [dbo].[MaterialType] ([Id], [Name], [DefectPercent]) VALUES (3, N'Softwood', 0.28)
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
INSERT [dbo].[MeasureUnitProduction] ([ProdMeasUnitId], [ProdTypeId], [MeasureUnitId]) VALUES (1, 1, 1)
INSERT [dbo].[MeasureUnitProduction] ([ProdMeasUnitId], [ProdTypeId], [MeasureUnitId]) VALUES (2, 1, 2)
INSERT [dbo].[MeasureUnitProduction] ([ProdMeasUnitId], [ProdTypeId], [MeasureUnitId]) VALUES (3, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[MeasureUnits] ON 

INSERT [dbo].[MeasureUnits] ([Id], [NameMeasure], [ShortNameMeasure]) VALUES (1, N'Piece', N'pc')
INSERT [dbo].[MeasureUnits] ([Id], [NameMeasure], [ShortNameMeasure]) VALUES (2, N'Box', N'box')
INSERT [dbo].[MeasureUnits] ([Id], [NameMeasure], [ShortNameMeasure]) VALUES (3, N'Square meters', N'm²')
SET IDENTITY_INSERT [dbo].[MeasureUnits] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner] ON 

INSERT [dbo].[Partner] ([Id], [CompanyName], [INN], [Phone], [Email], [Raiting], [DirectorId], [TypeId], [AddressId], [DiscountId]) VALUES (1, N'StroyBase', N'2222455179', N'74931234567', N'aleksandraivanova@ml.ru', 8, 1, 1, 1, NULL)
INSERT [dbo].[Partner] ([Id], [CompanyName], [INN], [Phone], [Email], [Raiting], [DirectorId], [TypeId], [AddressId], [DiscountId]) VALUES (2, N'Parquet 29', N'3333888520', N'79871235678', N'vppetrov@vl.ru', 7, 2, 2, 2, NULL)
INSERT [dbo].[Partner] ([Id], [CompanyName], [INN], [Phone], [Email], [Raiting], [DirectorId], [TypeId], [AddressId], [DiscountId]) VALUES (3, N'StroyService', N'4440391035', N'78122233200', N'ansolovev@st.ru', 9, 3, 3, 3, NULL)
SET IDENTITY_INSERT [dbo].[Partner] OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerType] ON 

INSERT [dbo].[PartnerType] ([Id], [Name]) VALUES (1, N'CJSC')
INSERT [dbo].[PartnerType] ([Id], [Name]) VALUES (2, N'LLC')
INSERT [dbo].[PartnerType] ([Id], [Name]) VALUES (3, N'PJSC')
SET IDENTITY_INSERT [dbo].[PartnerType] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Surname], [FirstName], [LastName], [Birthday], [NumPasport], [SeriePasport]) VALUES (1, N'Ivanova', N'Aleksandra', N'Ivanovna', CAST(N'2000-01-01' AS Date), N'234567', N'9090')
INSERT [dbo].[Person] ([Id], [Surname], [FirstName], [LastName], [Birthday], [NumPasport], [SeriePasport]) VALUES (2, N'Petrov', N'Vasily', N'Petrovich', CAST(N'2000-01-02' AS Date), N'234069', N'2934')
INSERT [dbo].[Person] ([Id], [Surname], [FirstName], [LastName], [Birthday], [NumPasport], [SeriePasport]) VALUES (3, N'Solovyov', N'Andrey', N'Nikolaevich', CAST(N'2000-01-03' AS Date), N'245095', N'5933')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [NameJob]) VALUES (1, N'Enterprise Director')
INSERT [dbo].[Position] ([Id], [NameJob]) VALUES (2, N'Department Director')
INSERT [dbo].[Position] ([Id], [NameJob]) VALUES (3, N'Accountant')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Article], [MinCostForPartner], [ProductTypeId]) VALUES (1, N'Ash dark one-strip parquet board 14 mm', N'8758385', 4456.9000, 3)
INSERT [dbo].[Product] ([Id], [Name], [Article], [MinCostForPartner], [ProductTypeId]) VALUES (2, N'Oak French herringbone one-strip engineered board 12 mm', N'8858958', 7330.9900, 3)
INSERT [dbo].[Product] ([Id], [Name], [Article], [MinCostForPartner], [ProductTypeId]) VALUES (3, N'Smoky white oak laminate 33 class 12 mm', N'7750282', 1799.3300, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [Name], [ProductionIndex]) VALUES (1, N'Laminate', 2.35)
INSERT [dbo].[ProductType] ([Id], [Name], [ProductionIndex]) VALUES (2, N'Solid wood board', 5.15)
INSERT [dbo].[ProductType] ([Id], [Name], [ProductionIndex]) VALUES (3, N'Parquet board', 4.34)
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
INSERT [dbo].[RealizationHistory] ([Id], [Count], [Date], [ProductId], [PartnerId], [StatusPayId]) VALUES (1, 15500, CAST(N'2023-03-23T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[RealizationHistory] ([Id], [Count], [Date], [ProductId], [PartnerId], [StatusPayId]) VALUES (2, 12350, CAST(N'2023-12-18T00:00:00.000' AS DateTime), 3, 1, 1)
INSERT [dbo].[RealizationHistory] ([Id], [Count], [Date], [ProductId], [PartnerId], [StatusPayId]) VALUES (3, 37400, CAST(N'2024-06-07T00:00:00.000' AS DateTime), 4, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([Id], [NameRegion]) VALUES (1, N'Kemerovo Oblast')
INSERT [dbo].[Region] ([Id], [NameRegion]) VALUES (2, N'Arkhangelsk Oblast')
INSERT [dbo].[Region] ([Id], [NameRegion]) VALUES (3, N'Leningrad Oblast')
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusFamily] ON 

INSERT [dbo].[StatusFamily] ([Id], [Name]) VALUES (1, N'Married (male)')
INSERT [dbo].[StatusFamily] ([Id], [Name]) VALUES (2, N'Married (female)')
INSERT [dbo].[StatusFamily] ([Id], [Name]) VALUES (3, N'Not married')
SET IDENTITY_INSERT [dbo].[StatusFamily] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusHealth] ON 

INSERT [dbo].[StatusHealth] ([Id], [Name]) VALUES (1, N'Healthy')
INSERT [dbo].[StatusHealth] ([Id], [Name]) VALUES (2, N'Ill')
INSERT [dbo].[StatusHealth] ([Id], [Name]) VALUES (3, N'Recovering')
SET IDENTITY_INSERT [dbo].[StatusHealth] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusPay] ON 

INSERT [dbo].[StatusPay] ([Id], [Name]) VALUES (1, N'Paid')
INSERT [dbo].[StatusPay] ([Id], [Name]) VALUES (2, N'Unpaid')
INSERT [dbo].[StatusPay] ([Id], [Name]) VALUES (3, N'Processing')
SET IDENTITY_INSERT [dbo].[StatusPay] OFF
GO
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([Id], [NameStreet], [House]) VALUES (1, N'Lesnaya St.', N'15')
INSERT [dbo].[Street] ([Id], [NameStreet], [House]) VALUES (2, N'Stroiteley St.', N'18')
INSERT [dbo].[Street] ([Id], [NameStreet], [House]) VALUES (3, N'Parkovaya St.', N'21')
SET IDENTITY_INSERT [dbo].[Street] OFF
GO
INSERT [dbo].[StreetCity] ([Id], [StreetId], [CityId]) VALUES (1, 1, 1)
INSERT [dbo].[StreetCity] ([Id], [StreetId], [CityId]) VALUES (2, 2, 2)
INSERT [dbo].[StreetCity] ([Id], [StreetId], [CityId]) VALUES (3, 3, 3)
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [FullName], [SupplierTypeId], [INN]) VALUES (1, N'Best Supply', 1, N'1234567891')
INSERT [dbo].[Supplier] ([Id], [FullName], [SupplierTypeId], [INN]) VALUES (2, N'Supply 23', 2, N'9876543211')
INSERT [dbo].[Supplier] ([Id], [FullName], [SupplierTypeId], [INN]) VALUES (3, N'Dawn', 3, N'9876546782')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplierType] ON 

INSERT [dbo].[SupplierType] ([Id], [NameSupplier]) VALUES (1, N'Manufacturer')
INSERT [dbo].[SupplierType] ([Id], [NameSupplier]) VALUES (2, N'Distributor')
INSERT [dbo].[SupplierType] ([Id], [NameSupplier]) VALUES (3, N'Wholesaler')
SET IDENTITY_INSERT [dbo].[SupplierType] OFF
GO
SET IDENTITY_INSERT [dbo].[Supply] ON 

INSERT [dbo].[Supply] ([Id], [MaterialId], [SupplierId], [DateSupply], [Count], [Cost]) VALUES (1, 1, 1, CAST(N'2025-05-12T19:30:00.000' AS DateTime), 23, 80000.0000)
INSERT [dbo].[Supply] ([Id], [MaterialId], [SupplierId], [DateSupply], [Count], [Cost]) VALUES (2, 2, 3, CAST(N'2025-05-13T00:00:00.000' AS DateTime), 18, 90000.0000)
INSERT [dbo].[Supply] ([Id], [MaterialId], [SupplierId], [DateSupply], [Count], [Cost]) VALUES (3, 3, 2, CAST(N'2025-05-11T03:00:00.000' AS DateTime), 35, 100000.0000)
SET IDENTITY_INSERT [dbo].[Supply] OFF
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Region] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Region]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Person] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Person]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_StatusFamily] FOREIGN KEY([StatusFamilyId])
REFERENCES [dbo].[StatusFamily] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_StatusFamily]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_StatusHealth] FOREIGN KEY([StatusHealthId])
REFERENCES [dbo].[StatusHealth] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_StatusHealth]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_IndexAddress] FOREIGN KEY([IndexAddressId])
REFERENCES [dbo].[IndexAddress] ([Id])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_IndexAddress]
GO
ALTER TABLE [dbo].[HouseStreet]  WITH CHECK ADD  CONSTRAINT [FK_HouseStreet_House] FOREIGN KEY([HouseId])
REFERENCES [dbo].[House] ([Id])
GO
ALTER TABLE [dbo].[HouseStreet] CHECK CONSTRAINT [FK_HouseStreet_House]
GO
ALTER TABLE [dbo].[HouseStreet]  WITH CHECK ADD  CONSTRAINT [FK_HouseStreet_Street] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([Id])
GO
ALTER TABLE [dbo].[HouseStreet] CHECK CONSTRAINT [FK_HouseStreet_Street]
GO
ALTER TABLE [dbo].[MaterialProduct]  WITH CHECK ADD  CONSTRAINT [FK_MaterialProduct_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[MaterialProduct] CHECK CONSTRAINT [FK_MaterialProduct_Materials]
GO
ALTER TABLE [dbo].[MaterialProduct]  WITH CHECK ADD  CONSTRAINT [FK_MaterialProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[MaterialProduct] CHECK CONSTRAINT [FK_MaterialProduct_Product]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MaterialType]
GO
ALTER TABLE [dbo].[MeasureUnitProduction]  WITH CHECK ADD  CONSTRAINT [FK_MeasureUnitProduction_MeasureUnits] FOREIGN KEY([MeasureUnitId])
REFERENCES [dbo].[MeasureUnits] ([Id])
GO
ALTER TABLE [dbo].[MeasureUnitProduction] CHECK CONSTRAINT [FK_MeasureUnitProduction_MeasureUnits]
GO
ALTER TABLE [dbo].[MeasureUnitProduction]  WITH CHECK ADD  CONSTRAINT [FK_MeasureUnitProduction_ProductType] FOREIGN KEY([ProdTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[MeasureUnitProduction] CHECK CONSTRAINT [FK_MeasureUnitProduction_ProductType]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Discount] FOREIGN KEY([DiscountId])
REFERENCES [dbo].[Discount] ([Id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Discount]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_IndexAddress] FOREIGN KEY([AddressId])
REFERENCES [dbo].[IndexAddress] ([Id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_IndexAddress]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_PartnerType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[PartnerType] ([Id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_PartnerType]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [FK_Partner_Person] FOREIGN KEY([DirectorId])
REFERENCES [dbo].[Person] ([Id])
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [FK_Partner_Person]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[RealizationHistory]  WITH CHECK ADD  CONSTRAINT [FK_RealizationHistory_Partner] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partner] ([Id])
GO
ALTER TABLE [dbo].[RealizationHistory] CHECK CONSTRAINT [FK_RealizationHistory_Partner]
GO
ALTER TABLE [dbo].[RealizationHistory]  WITH CHECK ADD  CONSTRAINT [FK_RealizationHistory_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[RealizationHistory] CHECK CONSTRAINT [FK_RealizationHistory_Product]
GO
ALTER TABLE [dbo].[RealizationHistory]  WITH CHECK ADD  CONSTRAINT [FK_RealizationHistory_StatusPay] FOREIGN KEY([StatusPayId])
REFERENCES [dbo].[StatusPay] ([Id])
GO
ALTER TABLE [dbo].[RealizationHistory] CHECK CONSTRAINT [FK_RealizationHistory_StatusPay]
GO
ALTER TABLE [dbo].[StreetCity]  WITH CHECK ADD  CONSTRAINT [FK_StreetCity_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[StreetCity] CHECK CONSTRAINT [FK_StreetCity_City]
GO
ALTER TABLE [dbo].[StreetCity]  WITH CHECK ADD  CONSTRAINT [FK_StreetCity_Street] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([Id])
GO
ALTER TABLE [dbo].[StreetCity] CHECK CONSTRAINT [FK_StreetCity_Street]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_Supplier_SupplierType] FOREIGN KEY([SupplierTypeId])
REFERENCES [dbo].[SupplierType] ([Id])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_Supplier_SupplierType]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSupplier_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_MaterialsSupplier_Materials]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [FK_MaterialsSupplier_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [FK_MaterialsSupplier_Supplier]
GO
ALTER TABLE [dbo].[Discount]  WITH CHECK ADD  CONSTRAINT [CK_DiscountSize] CHECK  (([Size]>(0)))
GO
ALTER TABLE [dbo].[Discount] CHECK CONSTRAINT [CK_DiscountSize]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeBankCard] CHECK  (([BankCard] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CK_EmployeeBankCard]
GO
ALTER TABLE [dbo].[MaterialType]  WITH CHECK ADD  CONSTRAINT [CK_MaterialTypeDefPerc] CHECK  (([DefectPercent]>(0)))
GO
ALTER TABLE [dbo].[MaterialType] CHECK CONSTRAINT [CK_MaterialTypeDefPerc]
GO
ALTER TABLE [dbo].[Partner]  WITH CHECK ADD  CONSTRAINT [CK_PartnerPhone] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Partner] CHECK CONSTRAINT [CK_PartnerPhone]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_PersonNumPas] CHECK  (([NumPasport] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_PersonNumPas]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CK_PersonSeriePas] CHECK  (([SeriePasport] like '[0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CK_PersonSeriePas]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_ProductArticle] CHECK  (([Article] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_ProductArticle]
GO
ALTER TABLE [dbo].[ProductType]  WITH CHECK ADD  CONSTRAINT [CK_ProductTypeIndex] CHECK  (([ProductionIndex]>(0)))
GO
ALTER TABLE [dbo].[ProductType] CHECK CONSTRAINT [CK_ProductTypeIndex]
GO
ALTER TABLE [dbo].[RealizationHistory]  WITH CHECK ADD  CONSTRAINT [CK_RealizationHistoryCount] CHECK  (([Count]>(0)))
GO
ALTER TABLE [dbo].[RealizationHistory] CHECK CONSTRAINT [CK_RealizationHistoryCount]
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [CK_SupplierINN] CHECK  (([INN] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [CK_SupplierINN]
GO
ALTER TABLE [dbo].[Supply]  WITH CHECK ADD  CONSTRAINT [CK_Supply] CHECK  (([Count]>(0)))
GO
ALTER TABLE [dbo].[Supply] CHECK CONSTRAINT [CK_Supply]
GO
USE [master]
GO
